.cover-main img {
	max-width: 60%
	
}
.cover-main blockquote p{
	font-family: cursive;
}

.sidebar>h1 .app-name-link {
    color: var(--sidebar-name-color);
    font-family: fantasy;
}
.markdown-section li a{
	color: crimson !important;
}
p a{
	color: crimson !important;
}
.cover-main a{
	color: black !important;
}

