.cover-main img {
	max-width: 60%
	
}
.cover-main blockquote p{
	font-family: cursive;
}

.sidebar>h1 .app-name-link {
    color: var(--sidebar-name-color);
    font-family: fantasy;
}
.markdown-section li a{
	color: crimson !important;
}
p a{
	color: crimson !important;
}
.cover-main a{
	color: black !important;
}

/* 行代码块 */
.markdown-section code {
    font-size: 16px !important;
    font-family: Consolas, monospace, serif;
    white-space: nowrap;
    padding: 0 4px;
    border-radius: 3px;
    background: rgb(247, 247, 247);
    white-space: normal;
    color: #f27474;
    font-weight: bolder;
    
}

/* 表格 */
.markdown-section tr:nth-child(2n) {
    background-color: rgb(248, 248, 248);
}
.markdown-section thead{
    background: rgb(248, 248, 248) !important;
}
.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    display: table !important;
    overflow: auto;
    width: 100%;
}

/* 引用块 */
.markdown-section blockquote{
    background: #eceaed;
    padding: 10px;
    border-radius:10px;
}
/* 代码块 */
/* .markdown-section pre {
    box-shadow: 2px 2px 20px 6px #ddd !important;
} */

/* 代码块 */
.markdown-section pre:before {
    content: '';
    display: block;
    background: url(https://files.mdnice.com/point.png);
    height: 30px;
    width: 100%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #282c34;
    margin-bottom: -7px;
    margin-top: 10px;
    margin-left: -3px;
    border-radius: 5px;
    background-position: 10px 10px;
}
/* 代码块 */
.markdown-section pre>code {
    color: #c0c3c1 !important;
    font-family: 'Inconsolata', consolas,"PingFang SC", "Microsoft YaHei", monospace !important;
    background-color: #282c34 !important;    
    font-size: 15px !important;
    white-space: pre !important;
    line-height: 1.5 !important;
    -moz-tab-size: 4 !important;
    -o-tab-size: 4 !important;
    tab-size: 4 !important;

}
/* 代码块 */
markdown-section code, .markdown-section pre {
    background-color: #282c34;
}